@tailwind base;
@tailwind components;
@tailwind utilities;

.section{
    background-color: #d8edee;
    text-align: center;
    display: flex;
    padding: 90px 0 90px 0;
  }
  
  .sub-section{
    background-color: #ffffff;
    height: 550px;
    width: 1000px;
    margin-left: 120px;
    padding-top: 30px;
    border-radius: 60px;
  }

  .col1{
    height: 520px;
    border-top-left-radius: 60px ;
    border-bottom-left-radius: 60px;
  }
  

  .p2{
    margin-left: -28px;
    margin-top: -85px;
  }
  .p1{
    margin-left:-137px;
  }

  .img{
    margin-top: -62px;
  }
  
  .p3{
    padding-top: 100px;
  }

  .p4{
    margin-left: -119px;
  }

  .p5{
    margin-left: 142px;
    text-align: left;
    border-color: #00a6ab;
    border-radius: 5px;
  }